* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#nav-home {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
}

.nav-link {
    color: #00ff2d;
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
}

.nav-link:hover > a {
    border-bottom: solid yellow;
}

.nav-link:nth-of-type(1) {
    flex-grow: 0.9;
    width: 0 auto;
}


#nav-home:hover > a {
    border: unset;
}

#header-img {
    width: 8%;
    transform: scale3d(4, 2.6, 1);
    /*height: 12vh;*/
    margin-top: 30px; }
/*
@media screen and (max-width: 600px) {
    #header-img {
        margin-left: 40px;
        transform: scale3d(7, 4, 1);
        padding-bottom: 3px;
    }
}
*/
section, main {
    padding-bottom: 25%;
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}

#main {
    /* margin-top: 70px; */
    padding-top: 70px;
}

#services {
    background: aquamarine;
}

#img-phone {
    max-width: 100%;
}

#about {
    background: beige;
}

#reviews {
    background: lightblue;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

